body {
	padding-top: 70px;
}

.navbar-inverse {
	background: #003326;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.jumbotron {
	color: #0d260d;
	background: #fdf9f3;
}